{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Developer Dashboard
    </title>
    <link rel="shortcut icon" href="{% static 'home/assets/images/logo.png'%}" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Plugin -->
    <link rel="stylesheet" href="{% static 'accounts/libs/owl.carousel/assets/owl.carousel.min.css'%}">

    <!-- APP CSS -->
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/css/grid.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/css/responsive.css'%}">
</head>
<body class="sidebar-expand counter-scroll">
 <div class="sidebar">
        <div class="sidebar-logo">
                        <a href="{% url 'home'%}">
                <img src="{% static 'accounts/images/chain.png'%}" alt="chain logo">
            </a>
        </div>
        <!-- SIDEBAR MENU -->
        <div class="simlebar-sc" data-simplebar>
            <ul class="sidebar-menu tf">
                <li class="sidebar-submenu">
                    <a href="{% url 'dashboard'%}" class="sidebar-menu-dropdown current-menu-item">
                        <i class='bx bxs-bolt'></i>
                        <span>Dashboard</span>
                        <div class="dropdown-icon"><i class='bx bx-chevron-down'></i></div>
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <a href="{% url 'portfolio'%}" class="sidebar-menu-dropdown">
                        <i class='bx bx-code'></i>
                        <span>Portfolio dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'jobdashboard' %}">
                        <i class='bx bx-briefcase'></i>
                        <span>Job dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog'%}">
                        <i class='bx bx-shape-polygon'></i>
                        <span>Community</span>
                    </a>
                </li>
            </ul>
        </div>
 </div>

 <div class="main-header">
            <div class="d-flex">
                <div class="mobile-toggle" id="mobile-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                <div class="main-title">
                    Developer dashboard
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown d-inline-block mt-12">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="{{request.user.bio.image.url}}" height="100" width="100"
                                alt="Header Avatar">
                            <span class="pulse-css"></span>
                            <span class="info d-xl-inline-block  color-span">
                                <span class="d-block fs-20 font-w600">{{bio.name}}</span>
                                <span class="d-block mt-7" >{{request.user.username}}</span>
                            </span>

                            <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span>Profile</span></a>
                        <a class="dropdown-item text-danger" href="{% url 'logout'%}"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span>Logout</span></a>
                    </div>
                </div>
            </div>
        </div>
 {%block content%}
 {%endblock content%}


    <script src="{% static 'accounts/libs/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'accounts/libs/jquery/jquery-ui.min.js'%}"></script>
    <script src="{% static 'accounts/libs/moment/min/moment.min.js'%}"></script>
    <script src="{% static 'accounts/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'accounts/libs/peity/jquery.peity.min.js'%}"></script>
    <script src="{% static 'accounts/libs/chart.js/Chart.bundle.min.js'%}"></script>
    <script src="{% static 'accounts/libs/owl.carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'accounts/libs/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'accounts/js/countto.js'%}"></script>
    <script src="{% static 'accounts/libs/date-picker/datepicker.js'%}"></script>
    <script src="{% static 'accounts/libs/simplebar/simplebar.min.js'%}"></script>
</body>
</html>