{%extends 'client-base.html'%}
{%load static%}
    {%block content%}
    <div class="main">

        <div class="main-content project">
            <div class="row">
                <div class="col-9 col-xl-7 col-md-8 col-sm-12">
                    <div class="box card-box">
                        <div class="icon-box bg-color-6 d-block">

                            <div class="content text-center color-6">
                                <h5 class="title-box fs-17 font-w500">Total jobs uploaded</h5>
                                <div class="themesflat-counter fs-18 font-wb">
                                    <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">{{projects.count}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box bg-color-7 d-block">

                            <div class="content text-center color-7">
                                <h5 class="title-box fs-17 font-w500">Total bids received</h5>
                                <div class="themesflat-counter fs-18 font-wb">
                                    <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">{{totalbidscount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box bg-color-8 d-block">

                            <div class="content text-center color-8">
                                <h5 class="title-box fs-17 font-w500">accepted bids</h5>
                                <div class="themesflat-counter fs-18 font-wb">
                                    <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">{{acceptedbidscount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box bg-color-9 d-block">

                            <div class="content text-center color-9">
                                <h5 class="title-box fs-17 font-w500">Pending Bids</h5>
                                <div class="themesflat-counter fs-18 font-wb">
                                    <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">{{pendingbidscount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-xl-5 col-md-4 col-sm-12">
                    <div class="box h-100 d-flex align-items-center">
                        <a class="create d-flex bg-primary justify-content-center" href="{% url 'blog'%}">
                            <div class="icon color-white pt-4 pr-8">
                                <i class='bx bx-plus-circle'></i>
                            </div>
                            <div class="content">
                                <h5 class="color-white">View community</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="box f-height">
                        <div class="box-header d-flex justify-content-between">
                            <h3 class="mt-9 fs-22">Recent bids for your jobs</h3>
                        </div>
                        {% for bid in pendingbids %}
                            <div class="box left-dot">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-12 mb-10">
                                            <div class="mt-0 text-start"> <a href="#" class="box-title mb-0 mt-1 mb-3 font-w600 fs-18">{{bid.job.name}}</a>
                                                <p class="fs-14 font-w500 text-muted mb-6">{{bid.job.description}}</p>
                                                <a href="#" class="box-title mb-0 mt-1 mb-3 font-w600 fs-18"><img src="{{bid.BidSentBy.bio.image.url}}" alt="img" height="20" width="20"></a>
                                                <span class="fs-13  mt-2 text-muted">{{bid.BidSentBy.username}}</span><br>
                                                <span class="fs-13  mt-2 text-muted">{{bid.BidSentBy.bio.bio}}</span><br>
                                                <span class="fs-13  mt-2 text-muted">4/5</span>
                                            </div>
                                            <!--{% if project.category == 'Adobe XD'%}-->
                                            <img src="./images/icon/experience.png" alt="img" class="img-box">
                                            <!--{% elif project.category == 'Web Design'%}-->
                                            <!--{% endif%}-->
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="d-flex align-items-center">
                                        <div class="ms-auto mt-3 mt-sm-0">
                                            <div class="d-flex">
                                                <div class="gr-btn mt-15"> <a href="{% url 'rejectbid' bid.id %}"><button class="btn btn-danger btn-lg mr-15 fs-16">Reject Bid</button></a> <a href="{% url 'acceptbid' bid.id %}"><button  class="btn btn-primary btn-lg fs-16" onclick="myfunction()" >Accept bid</button></a> </div>
                                            </div>
                                            <script>
                                                function myfunction(){
                                                    alert("your contact details have been sent to the developer!);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock content%}
